autom4te.cache/
build-aux/
m4/
imagergb.dSYM/
.deps
..Rcheck
Makefile
Makefile.in
Rprof.out
aclocal.m4
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
src/.libs
src/librimage2k_la*
src/rimage2k.R
src/rimage2k.dylib
src/imagehist.o
src/imagehist
src/imagemean.o
src/imagemean
src/imagergb.o
src/imagergb
stamp-h1
