autom4te.cache/
build-aux/
m4/
imagergb.dSYM/
.deps
..Rcheck
DESCRIPTION
Makefile
Makefile.in
Rprof.out
aclocal.m4
config.h
config.h.in
config.h.in~
config.log
config.status
configure
image2k*tar.gz
libtool
man/image2k-package.Rd
R/image2k.R
src/.libs
src/image2k.o
src/imagehist.o
src/imagehist
src/imagemean.o
src/imagemean
src/imagergb.o
src/imagergb
src/libimage2k.la
src/libimage2k_la*
src/image2k.*dylib
src/rimage2k.o
stamp-h1
tests/rmd5image.R
